## Importing packages

In [6]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     - -------------------------------------- 10.2/250.0 kB ? eta -:--:--
     ------ ------------------------------ 41.0/250.0 kB 245.8 kB/s eta 0:00:01
     --------- --------------------------- 61.4/250.0 kB 328.2 kB/s eta 0:00:01
     --------- --------------------------- 61.4/250.0 kB 328.2 kB/s eta 0:00:01
     -------------------- --------------- 143.4/250.0 kB 502.3 kB/s eta 0:00:01
     ------------------------------------ 250.0/250.0 kB 768.4 kB/s eta 0:00:00
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [3]:
import pandas as pd
import numpy as np

C:\Users\yadne\AppData\Local\Temp\ipykernel_5540\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Reading  CSV

In [49]:
df= pd.read_excel('Assignment_Timecard.xlsx', engine='openpyxl')

##Preprocessing

In [50]:
df.head

<bound method NDFrame.head of      Position ID Position Status                Time            Time Out  \
0      WFS000054          Active                 NaT                 NaT
1      WFS000065          Active 2023-09-12 10:08:00 2023-09-12 13:53:00
2      WFS000065          Active 2023-09-12 14:23:00 2023-09-12 19:02:00
3      WFS000065          Active 2023-09-13 10:08:00 2023-09-13 14:20:00
4      WFS000065          Active 2023-09-13 14:50:00 2023-09-13 20:44:00
...          ...             ...                 ...                 ...
1479   WFS000589          Active 2023-09-20 09:55:00 2023-09-20 14:30:00
1480   WFS000589          Active 2023-09-20 15:00:00 2023-09-20 19:29:41
1481   WFS000589          Active 2023-09-21 09:56:00 2023-09-21 14:30:00
1482   WFS000589          Active 2023-09-21 15:00:01 2023-09-21 19:16:05
1483   WFS000591          Active                 NaT                 NaT

     Timecard Hours (as Time) Pay Cycle Start Date Pay Cycle End Date  \
0                         NaN                  NaT                NaT
1                        3:45           2023-09-10         2023-09-23
2                        4:39           2023-09-10         2023-09-23
3                        4:12           2023-09-10         2023-09-23
4                        5:54           2023-09-10         2023-09-23
...                       ...                  ...                ...
1479                     4:35           2023-09-10         2023-09-23
1480                     4:29           2023-09-10         2023-09-23
1481                     4:34           2023-09-10         2023-09-23
1482                     4:16           2023-09-10         2023-09-23
1483                      NaN                  NaT                NaT

                    Employee Name  File Number  Unnamed: 9 Unnamed: 10
0                 SiWgh, PraGhjEM           54         NaN         NaN
1                 REsaXiaWE, XAis           65         NaN         NaN
2                 REsaXiaWE, XAis           65         NaN         NaN
3                 REsaXiaWE, XAis           65         NaN         NaN
4                 REsaXiaWE, XAis           65         NaN         NaN
...                           ...          ...         ...         ...
1479              WgAyeW, RayCEWd          589         NaN         NaN
1480              WgAyeW, RayCEWd          589         NaN         NaN
1481              WgAyeW, RayCEWd          589         NaN         NaN
1482              WgAyeW, RayCEWd          589         NaN         NaN
1483  ArveXE RECerE, AWdres JesAs          591         NaN         NaN

[1484 rows x 11 columns]>

In [46]:
print(df.dropna().head())

  Position ID Position Status                Time            Time Out  \
1   WFS000065          Active 2023-09-12 10:08:00 2023-09-12 13:53:00
2   WFS000065          Active 2023-09-12 14:23:00 2023-09-12 19:02:00
3   WFS000065          Active 2023-09-13 10:08:00 2023-09-13 14:20:00
4   WFS000065          Active 2023-09-13 14:50:00 2023-09-13 20:44:00
5   WFS000065          Active 2023-09-14 10:09:00 2023-09-14 14:30:56

  Timecard Hours (as Time) Pay Cycle Start Date Pay Cycle End Date  \
1                     3:45           2023-09-10         2023-09-23
2                     4:39           2023-09-10         2023-09-23
3                     4:12           2023-09-10         2023-09-23
4                     5:54           2023-09-10         2023-09-23
5                     4:21           2023-09-10         2023-09-23

     Employee Name  File Number
1  REsaXiaWE, XAis           65
2  REsaXiaWE, XAis           65
3  REsaXiaWE, XAis           65
4  REsaXiaWE, XAis           65
5  REsaXiaWE, XAis           65

In [58]:
print(df['Position Status'].unique())
## Only active positions are included in dataframe so need for further computation

['Active']

## Removing empty unwanted columns

In [52]:
df.drop('Unnamed: 9',axis=1, inplace=True)
df.drop('Unnamed: 10',axis=1, inplace=True)
df.head()

KeyError: "['Unnamed: 9'] not found in axis"

## Dropping Null values

In [53]:
df.dropna(inplace=True)

In [47]:
df.head()

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number
0,WFS000054,Active,NaT,NaT,NaN,NaT,NaT,"SiWgh, PraGhjEM",54
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65

## Inorder to access the date from datetime from dataframe, we will parse the Time and Time Out column

In [54]:

df['Time'] = pd.to_datetime(df['Time'])
df['Time Out'] = pd.to_datetime(df['Time Out'])
print(df.head())

  Position ID Position Status                Time            Time Out  \
1   WFS000065          Active 2023-09-12 10:08:00 2023-09-12 13:53:00
2   WFS000065          Active 2023-09-12 14:23:00 2023-09-12 19:02:00
3   WFS000065          Active 2023-09-13 10:08:00 2023-09-13 14:20:00
4   WFS000065          Active 2023-09-13 14:50:00 2023-09-13 20:44:00
5   WFS000065          Active 2023-09-14 10:09:00 2023-09-14 14:30:56

  Timecard Hours (as Time) Pay Cycle Start Date Pay Cycle End Date  \
1                     3:45           2023-09-10         2023-09-23
2                     4:39           2023-09-10         2023-09-23
3                     4:12           2023-09-10         2023-09-23
4                     5:54           2023-09-10         2023-09-23
5                     4:21           2023-09-10         2023-09-23

     Employee Name  File Number
1  REsaXiaWE, XAis           65
2  REsaXiaWE, XAis           65
3  REsaXiaWE, XAis           65
4  REsaXiaWE, XAis           65
5  REsaXiaWE, XAis           65

## Sorting data on basis of Employee and then on Time

In [56]:
df = df.sort_values(by=['Position ID', 'Time'])

## Done with Preprocessing
# Creating  Lists for Output

In [55]:
conescutive_days_7=[]
worked_less_than_10 =[]
worked_more_than_14 = []

In [59]:
df.head()

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number
1,WFS000065,Active,2023-09-12 10:08:00,2023-09-12 13:53:00,3:45,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
2,WFS000065,Active,2023-09-12 14:23:00,2023-09-12 19:02:00,4:39,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
3,WFS000065,Active,2023-09-13 10:08:00,2023-09-13 14:20:00,4:12,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
4,WFS000065,Active,2023-09-13 14:50:00,2023-09-13 20:44:00,5:54,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65
5,WFS000065,Active,2023-09-14 10:09:00,2023-09-14 14:30:56,4:21,2023-09-10,2023-09-23,"REsaXiaWE, XAis",65